**/*.svg
package.json
**/icon/*
**/iconfont.js
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.yarnrc

.history
CNAME
/build
/src/assets/mapdata
